config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true

# instead of change @CustomLog to @Slf4j everywhere I change this. We can stay with @Customloger
# and in case we want to switch later we can just define it here
lombok.log.custom.declaration = org.slf4j.Logger org.slf4j.LoggerFactory.getLogger(NAME)

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value